h1,h2,title{
    text-align: center;
    align-items: center;
}
body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;

    background-color: #040404;
    color: #040404;
    position: relative;
    background: transparent;
}
body::before {
  content: "";
  position: fixed;
  background: #040404 url("../static/bg.png") top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}


#search-container {
    margin-top: 50px;
    text-align: center;
    margin: 10px 40%;
    background-color: #000000;
    border-radius: 60px;
    display: flex;
    align-items: center;
    overflow: hidden;
}
#res-container > h3 > results-container{
  margin-bottom: 10px;
  width: 25%;
  display: block;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  background-color: #000000;
  border-radius: 60px;
}
#results-container,h3 {
    margin-top: 30px;
    background-color: #000000;
    border-radius: 60px;
    display: block;
    justify-content: center;
    align-items: center;
    overflow: visible;
    width: 100%;
    padding: 16px;
    width: fit-content;
    margin: 0px auto;
    color: #ffffff;
}

#results-container table {
  width: 100%;
  border-collapse: collapse;
  align-content: center;
  border-spacing: 0;
}

#results-container table th,
#results-container td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #000000;
  border: 1px solid #000000;
  color: #fff;
}

#results-container table th {
  background-color: #000000;
  font-weight: bold;
  border-bottom: 1px solid #ffffff;
}

#results-container tr:hover {
  background-color: #000000;
}

.result {
    margin-bottom: 10px;
}

header,subHeader {
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-size: cover;
  position: relative;
  width: 100%;
  background-attachment: fixed;
  background-image: url('/static/bg.png');
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Footer styles */
#footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  margin-top: auto;
}

.footer {
  text-align: center;
}

.footer p {
  font-size: 18px;
  color: #fff;
}

#Copyright {
  background-color: #222;
  color: #fff;
}

.footer-copyright {
  font-size: 14px;
}

/*Desktop Navigation */
.logo {
  margin-right: auto;
  width: 70px;
  height: 70px;
}
.navigation-container {
  width: 120px;
  margin: 0 auto;
  height: 70px;
}
.navbar {
  padding: 0;
  margin-top: 0px;
  display: inline-flexbox;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
  align-items: center;
}

.navbar li+li {
  margin-left: 30px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.7);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 50px;
}

.navbar a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #000000;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 25px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #ffffff;
}

/*Button*/
input {
  all: unset;
  font: 16px system-ui;
  color: #fff;
  padding: 12px 20px;
  flex-grow: 1;
  border-radius: 60px;
}

input::placeholder {
  color: #fff;
  opacity: 0.7; 
}

button {
  all: unset;
  cursor: pointer;
  background-color: #fff;
  color: #ffffff;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
}

svg {
  width: 20px;
  height: 20px;
}